<div class="row-fluid">
    <h3>Twoje zlecenia</h3>

    <?php if (!empty($this->errands)): ?>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Data i czas załadunku</th>
                <th>Adres załadunku</th>
                <th>Data i czas dostawy</th>
                <th>Adres dostawy</th>
                <th>Masa towaru [kg]</th>
                <th>Cena [od - do; PLN]</th>
                <th>Szczegóły</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($this->errands as $errand): ?>
            <tr>
                <td><?php echo $errand['date_start'] ?></td>
                <td><?php echo $errand['address_start'] ?></td>
                <td><?php echo $errand['date_finish'] ?></td>
                <td><?php echo $errand['address_finish'] ?></td>
                <td><?php echo $errand['mass'] ?></td>
                <td><?php echo $errand['price'] ?></td>
                <td><a href="<?php echo $this->url(array('id' => $errand['id']), 
                        'supplier-errands-show') ?>">Pokaż</a></td>
            </tr>
            <?php endforeach ?>
        </tbody>
    </table>
    <?php else: ?>
    <h3>Nie dodano zleceń</h3>
    <?php endif ?>
</div>
