<div class="row-fluid">
        <h3>Nowe zlecenie</h3>
        <?php echo $this->form ?>
</div>
        <p>Uwaga: prototypowa aplikacja w żaden sposób nie sprawdza
        poprawności wprowadzanych danych.</p>
