<div class="row-fluid">
    <div class="span5">
        <h3>Szczegóły zlecenia</h3>
        <?php echo $this->form ?>
    </div>
    <div class="span5">
        <h3>Oferty przewoźników</h3>
        <?php if (!empty($this->bids)): ?>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Przewoźnik</th>
                    <th>Oferowana cena</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($this->bids as $bid): ?>
                <tr>
                    <td>Przewoźnik 1</td>
                    <td><?php echo $bid['price'] ?></td>
                    <td>
                        <?php if ($bid['status'] == 0):?>
                        <a href="<?php echo $this->url(array(
                            'errandid' => Zend_Controller_Front::getInstance()->getRequest()->getParam('id'),
                            'id' => $bid['id']),
                            'supplier-errands-acceptbid') ?>">Zaakceptuj</a>
                        <?php elseif($bid['status'] == 1): ?>
                        Oferta oczekuje na wykonanie
                        <?php else: ?>
                        Zlecenie wykonane
                        <?php endif ?>
                    </td>
                </tr>
                <?php endforeach ?>
            </tbody>
        </table>
        <?php else: ?>
        <h3>Brak ofert</h3>
        <?php endif ?>
    </div>
</div>
<p>Uwaga: prototypowa aplikacja w żaden sposób nie sprawdza
poprawności wprowadzanych danych.</p>
