<div class="row-fluid">
    <div class="span9 home">
        <h1>Wybierz rolę</h1>
        <p class="lead">
        Aplikacja dzieli użytkowników na dwie role: dostawców i przewoźników.<br />
        Wybierz, którą z nich chcesz zasymulować.
        </p> 
    </div>
    <div class="span5">
        <a class="btn btn-large btn-block btn-primary" 
            href="<?php echo $this->url(array(), 'supplier-errands-errands') ?>">Dostawca</a>
    </div>
    <div class="span5">
        <a class="btn btn-large btn-block btn-inverse" 
            href="<?php echo $this->url(array(), 'carrier-index') ?>">Przewoźnik</a>
    </div>
    <div class="span7">
        <p></p>
        <p>
        Prototyp prezentuje tylko najważniejsze funkcjonalności platformy, dlatego
        pominięte zostały kroki związane z tworzeniem odpowiednich kont i autoryzacją.
        </p>
    </div>
</div>
