body {
    padding-top: 60px;
    padding-bottom: 50px;
}
.footer .copy {
    margin-top: 12px;
    display: block;
    float: right;
    color: #999;
}

textarea {
    height: 100px;
}

.home.span9 {
    padding-left: 30px;
}
