<div class="row-fluid">
        <div class="span5">
        <h3>Szczegóły zlecenia</h3>
        <?php echo $this->formErrand ?>
        </div>
        <div class="span5">
        <h3>Złóż ofertę</h3>
        <?php echo $this->form ?>
</div>
</div>
        <p>Uwaga: prototypowa aplikacja w żaden sposób nie sprawdza
        poprawności wprowadzanych danych.</p>
