<div class="row-fluid">
    <h2>Twoje oferty</h2>

    <div class="row-fluid">
        <div class="span5">
            <h3>Zaakceptowane</h3>
            <?php if (!empty($this->bids['won'])): ?>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Zleceniodawca</th>
                        <th>Data załadunku</th>
                        <th>Data dostawy</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->bids['won'] as $bid): ?>
                    <tr>
                        <td>Dostawca 1</td>
                        <td><?php echo $bid['date_start'] ?></td>
                        <td><?php echo $bid['date_finish'] ?></td>
                        <td><a href="<?php echo $this->url(array('id' => $bid['id']), 
                                'carrier-finalize') ?>">Wykonano</a></td>
                    </tr>
                    <?php endforeach ?>
                </tbody>
            </table>
            <?php else: ?>
            <h4>Lista jest pusta</h4>
            <?php endif; ?>
        </div>
        <div class="span5">
            <h3>Oczekujące</h3>
            <?php if (!empty($this->bids['pending'])): ?>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Zleceniodawca</th>
                        <th>Data załadunku</th>
                        <th>Data dostawy</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->bids['pending'] as $bid): ?>
                    <tr>
                        <td>Dostawca 1</td>
                        <td><?php echo $bid['date_start'] ?></td>
                        <td><?php echo $bid['date_finish'] ?></td>
                    </tr>
                    <?php endforeach ?>
                </tbody>
            </table>
            <?php else: ?>
            <h4>Lista jest pusta</h4>
            <?php endif; ?>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span5">
            <h3>Odrzucone</h3>
            <?php if (!empty($this->bids['lost'])): ?>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Zleceniodawca</th>
                        <th>Data załadunku</th>
                        <th>Data dostawy</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->bids['lost'] as $bid): ?>
                    <tr>
                        <td>Dostawca 1</td>
                        <td><?php echo $bid['date_start'] ?></td>
                        <td><?php echo $bid['date_finish'] ?></td>
                    </tr>
                    <?php endforeach ?>
                </tbody>
            </table>
            <?php else: ?>
            <h4>Lista jest pusta</h4>
            <?php endif; ?>
        </div>
        <div class="span5">
            <h3>Wykonane</h3>
            <?php if (!empty($this->bids['done'])): ?>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Zleceniodawca</th>
                        <th>Data załadunku</th>
                        <th>Data dostawy</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->bids['done'] as $bid): ?>
                    <tr>
                        <td>Dostawca 1</td>
                        <td><?php echo $bid['date_start'] ?></td>
                        <td><?php echo $bid['date_finish'] ?></td>
                    </tr>
                    <?php endforeach ?>
                </tbody>
            </table>
            <?php else: ?>
            <h4>Lista jest pusta</h4>
            <?php endif; ?>
        </div>
    </div>
</div>
