<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ebusiness Prototype</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Test assignment for Schibsted Tech">
        <meta name="author" content="Michał Matoga">

        <!-- Le styles -->
        <link href="/public/css/bootstrap.css" rel="stylesheet">
        <link href="/public/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/public/css/style.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="/public/ico/favicon.png">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Ebusiness Prototype</a>
                    <div class="nav-collapse collapse">
                        <?php //echo $this->navigation()->menu()->setUlClass('nav') ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <?php echo $this->layout()->content ?>
        </div>
        <div class="navbar navbar-fixed-bottom footer">
            <div class="navbar-inner">
                <div class="container">
                   <span class="copy">&copy;2013 Zbigniew Cichański, Jan Kowalski, Michał Matoga, Karol Rosiński</span>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/public/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
            <script src="/public/js/vendor/bootstrap.min.js"></script>
        </body>
    </html>
